.Room {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.Msgs {
	flex-grow: 1;
	overflow-y: scroll;
}
.each {
	margin: 1em 0;
}

.avatar {
	width: 2em;
	height: 2em;
}
.avatar-overlay {
	width: 2em;
	height: 2em;
}
.deleted {
	background-color: gray;
}
.msg-img {
	width: 200px;
}
